name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: garyedwardhughes/ubuntu-crocofix
    steps:
    - uses: actions/checkout@v3
    - name: Build Clang
      run: ./build_clang.sh all && ./build_clang.sh test
